<div class="text-center">

	<h1 class="display-4">Soy Abdel Ali el Jaouhari Khlifi</h1>


	<h2>Soy un programador de backend pero estoy aprendiendo a ser FullStack</h2>

	<img src="~/images/foto.png" alt="Foto .netCore" id="picture" />


</div>

<div class="text-center">
	<img id="imagen-dotnet" src="~/images/dotnet-imagen-2.png" alt="Foto dotnet" />

</div>

<div class="row justify-content-center text-center bg-primary">
	<div class="col col-md-7 seccion-bienvenida">
		<h1>Te doy la bienvenida a mi portafolio</h1>
		<p>
			He estado desarrollando software profesionalmente desde el 2012. He tenido el privilegio de trabajar para una empresa donde tuve la oportunidad de
			realizar proyectos para empresas como Orange, Seguros Universal, Golds Gym, Banco BHD;
			todo esto trabajando principalmente aplicaciones de C#/ASP.NET, SQL Server, Entity Framework, JavaScript, entre otros.
		</p>
	</div>
</div>